{% extends 'model-page.html'%}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<div class="redenc mb-3 d-flex align-items-center justify-content-between">
    <div>
      <img src="{% static 'images/nc_bw.png' %}" alt="Imagem" style="width: 100px; height: auto; margin-right: 10px;">
    </div>
    <div>
      <h1 class="mb-0">MATRÍCULAS CONSULTOR x CAMPANHA</h1>
    </div>
    <div>
        <form method="get" action="{% url 'matriculas:relatorio_campanha' %}">
    
            <!-- FORMULARIO PARA ENVIO DE PROCESSO -->
            <div class="form-group d-flex mx-auto justify-content-center">
                <label for="filtro_processo_ano"></label>
                <select class="form-select" name="filtro_campanha" id="filtro_campanha">
                    <option value="">-- Selecione Campanha--</option>
                    {% for campanha in campanhas_disponiveis %}
                        <option value="{{ campanha.id }}" {% if campanha.id|safe == filtro_campanha %}selected{% endif %}>
                            {{ campanha.nome }} - {{ campanha.get_data_inicio_camp }} a {{ campanha.get_data_fim_camp }}
                        </option>
                    {% endfor %}
                </select>
                
            
                <button type="submit" class="btn btn-primary ms-3">Filtrar</button>
            </div>
        </form>
    </div> 
</div>

<div style="scale: 0.96;">
<!-- Tabela com total de matrículas por usuário -->
{% if exibir_resultados %}
<table class="table table-striped table-hover table-sm mb-4">
    <thead>
        <tr>
            <th class="text-start">CONSULTOR(A)</th>
            {% for mes in meses_entre_datas %}
                <th class="text-center" id="total-{{ forloop.counter }}">{{ mes|date:"F" }}</th>
            {% endfor %}
            <th class="text-center">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario_info in total_matriculas_por_usuario %}
            <tr>
                <td class="text-start">{{ usuario_info.usuario.get_full_name }}</td>
                {% for mes, total_mes in usuario_info.total_matriculas_por_mes.items %}
                    <td class="text-center">{{ total_mes }}</td>
                {% endfor %}
                <td class="text-center">{{ usuario_info.total_geral_usuario }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('table').DataTable({
        order: [[$('th[id^="total-"]').length, 'desc']], // Ordena pela última coluna (total) em ordem decrescente
        paging: false,  // Desativa a paginação
        searching: false,  // Desativa a pesquisa
        info: false
    });
        // Mapeamento dos nomes dos meses em inglês para português
        var mesesTraducao = {
            'Janeiro': 'JAN',
            'Fevereiro': 'FEV',
            'Março': 'MAR',
            'Abril': 'ABR',
            'Maio': 'MAI',
            'Junho': 'JUN',
            'Julho': 'JUL',
            'Agosto': 'AGO',
            'Setembro': 'SET',
            'Outubro': 'OUT',
            'Novembro': 'NOV',
            'Dezembro': 'DEZ'
        };

        // Selecione todas as células de cabeçalho que começam com "Total"
        var thTotalMeses = document.querySelectorAll('th[id^="total-"]');

        // Itere sobre as células de cabeçalho
        thTotalMeses.forEach(function (th) {
            // Use o texto da célula como chave para obter a tradução
            var nomeMesIngles = th.textContent.trim().replace('Total ', '');

            // Se o texto for "Total", não altere a célula
            if (nomeMesIngles !== 'Total') {
                th.textContent = mesesTraducao[nomeMesIngles];
            }
        });
    });


</script>

</div>
{% endblock %}

