{% extends 'model-page.html'%}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/matnew.css' %}">

<div class="centered-form">
    <h2> Cadastro de Usuários</h2>


        {% if form.errors%}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class-="alert alert-danger">
                        <strong>{{error|escape}}</strong>
                    </div>  
                {% endfor %}

        

            {%endfor%}
        {% endif %}
        
        <div>               
            <form method="post" action="">
                {% csrf_token %}
                
                <!-- Campos do formulário do usuário (user_form) -->
                <div class="user-form">
                    <label for="{{ user_form.first_name.id_for_label }}">Primeiro Nome:</label>
                    {{ user_form.first_name }}
                    <label for="{{ user_form.last_name.id_for_label }}">Sobrenome:</label>
                    {{ user_form.last_name }}
                    <label for="{{ user_form.username.id_for_label }}">Nome de Usuário:</label>
                    {{ user_form.username }}
                    <label for="{{ user_form.email.id_for_label }}">Email:</label>
                    {{ user_form.email }}

                    <!-- Adicione outros campos do usuário conforme necessário -->
                </div>
            
                <!-- Campos do formulário do perfil do usuário (form) -->
                <div class="profile-form">
                    <label for="{{ form.polo.id_for_label }}">Polo:</label>
                    {{ form.polo }}
                    <label for="{{ form.cargo.id_for_label }}">Cargo:</label>
                    {{ form.cargo }}
                    <label for="{{ form.ranking.id_for_label }}">Ranking:</label>
                    {{ form.ranking }}
                    <!-- Adicione outros campos do perfil conforme necessário -->
                </div>
            
                <button type="submit">Salvar alterações</button>
            </form>
            
            
            
        </div>
</div>
    


{%endblock%}